Flask>=2.0.1
Werkzeug>=2.0.1
pandas>=2.0.0
numpy>=2.0.0
scikit-learn>=1.0.0
flask-cors>=4.0.0
python-dotenv>=1.0.0
torch>=2.2.0
torchvision>=0.17.0
opencv-python>=4.5.5.64
Pillow>=10.0.0
requests>=2.26.0
tqdm>=4.62.3 